<ion-header>
    <ion-navbar>
        <ion-title>Activité</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card *ngIf="show.name">
        <img src="http://localhost:1337{{show.image.url}}"/>
        <ion-card-content>
            <h2 class="card-title">{{show.name}}</h2>
            <p>{{show.description}}</p>
        </ion-card-content>

        <ion-item>
            <button *ngIf="canFavorite(show)" ion-button icon-left (click)="favorite(show)" clear item-left>
                <ion-icon name="heart"></ion-icon>
                Favorite
            </button>
            <button *ngIf="!canFavorite(show)" ion-button icon-left (click)="unfavorite(show)" clear item-left>
                <ion-icon name="heart-outline"></ion-icon>
                UnFavorite
            </button>
            <button ion-button icon-left (click)="share(show)" clear item-right>
                <ion-icon name="share"></ion-icon>
                Share
            </button>
        </ion-item>

    </ion-card>
</ion-content>
