page-welcome {

  font-weight: 300;

  ion-slide {

    position: relative;
    background-size: cover;

    p {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(138, 231, 238, 0.007);
      color: rgb(17, 21, 236);
      padding: 28px 28px 48px 28px;
      font-size: 9rem;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      margin-bottom: 0;
    }

    img {
      width: 50px;
      height: 50px;
      margin-top: -150px
    }

  }

  .swiper-pagination-bullet {
    background: rgb(233, 106, 106);
  }

}